.App {
  text-align: center;
}

 

 .RelativeButton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
 
  color: #ffffff;
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
 
  padding: 10px 40px;
 }
  
 
 
.SchedualButton{
  color: white;
  background-color: blue;
  width: 200px;
  height: 40px;
   cursor: pointer;
   letter-spacing: 1px;
   
   border-radius: 15px;
   border: none;
}